/*tamano general*/
.main{
	margin: 3%;
}

.tamano{
	height: 500px;
}

/*Opciones generales*/

.indiceOpciones{
	border: 1px solid;
	height: 33.333%;
	display: flex;
    justify-content: center;
    align-items: center;
}

.pantallaDatos{
	padding-left: 0px!important;

}

/*nombres pacientes*/

#pacientes{
	display: none;
}

.cuadroNombre{
	width: 70%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.opciones{
	width: 30%;
}

.botonOpcion{
	margin: 2%;
	height: 45%;
	/*border: 2px solid red;*/
	display: flex;
	justify-content: center;
	align-items: center;
}

.botonOpcion button{
	width: 100%;
	height: 100%
}

.indiceNombres{
	border: 1px solid;
}

/*campo de informacion (pantallaDatos)*/

/*mi perfil*/
#miPerfil{
	width: 100%;
	height: 100%;
	border: 1px solid;
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;	
}

.fotoPerfil{
	border-radius: 50%;
	border:1px solid;
	height: 200px;
	width: 200px;
	margin-bottom: 10px;
}

.centrarPerfil{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 40px;
	margin-bottom: 10px;
}

.centrarPerfil h5{
	font-weight: 100;
}

.centrarPerfil input{
	font-weight: 600;
	text-align: center;
}

.cambiosPerfil{
	width: 100%;
	display: flex;
	justify-content: center;
}
/*pacientes*/
#sinSeleccionPaciente{
	width: 100%;
	height: 100%;
	border: 0.5px solid;
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.amarillo{
	color: #e7e72f;
	font-size: 25px;
	font-weight: 900;
}

.rojo{
	color: red;
	font-size: 25px;
	font-weight: 900;
}


